<html>

<head>
  <style>
    h1 {
      text-align: center;
      color: white;
      background-color: purple;
    }

    h2 {
      color: purple;
    }
  </style>
</head>

<body>
  <h1>$name Analysis - Density $density</h1>
  <h2>Putting keys into the table</h2>
  <ul>
    <li>Total Number of Collisions: $totalCollisions</li>
    <li>Total Number of Keys: $totalKeys</li>
    <li>Average Number of Collisions: $averageCollisions</li>
  </ul>
  <h2>Searching for Missing Key: </h2>
  <ul>
    <li>Total Number of Compares: $totalComparesMissing</li>
    <li>Total Number of Keys searched: $totalSearchsMissing</li>
    <li>Average Number of Compares: $averageComparesMissing</li>
  </ul>
  <h2>Searching for Present Key: </h2>
  <ul>
    <li>Total Number of Compares: $totalComparesPresent</li>
    <li>Total Number of Keys searched: $totalSearchsPresent</li>
    <li>Average Number of Compares: $averageComparesPresent</li>
  </ul>
</body>

</html>
