<html>

<head>
  <style>
    h1 {
      text-align: center;
      color: white;
      background-color: purple;
    }

    h2 {
      color: purple;
    }

    table {
      margin-left: 20px;
    }
  </style>
</head>

<body>
  <h1>$name Analysis - Density $density</h1>

  <h2>Putting keys into the table</h2>
  <table>
    <tr>
      <td> Total Number of Collisions: </td>
      <td> $totalCollisions </td>
    </tr>
    <tr>
      <td> Total Number of Keys: </td>
      <td> $totalKeys </td>
    </tr>
    <tr>
      <td> Average Number of Collisions:</td>
      <td> $averageCollisions</td>
    </tr>
  </table>

  <h2>Searching for provided keys: </h2>
  <table>
    <tr>
      <td>Total Number of Compares: </td>
      <td>$totalCompares</td>
    </tr>
    <tr>
      <td>Total Number of Keys searched: </td>
      <td>$totalSearchs</td>
    </tr>
    <tr>
      <td>Average Number of Compares: </td>
      <td>$averageCompares</td>
    </tr>
  </table>

</body>

</html>
