<!DOCTYPE html>
<html>

<head>
  <style>
    h1 {
      text-align: center;
      color: white;
      background-color: purple;
    }

    p,
    ul,
    ol {
      color: purple;
    }

    table {
      border-collapse: collapse;
    }

    th,
    td,
    table {
      border: 1px solid black;
    }

    th {
      height: 60px;
      width: 100px;
    }

    .data {
      text-align: right;
    }

    .percentage {
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>Welcome</h1>
  <p>
    This is an app that let you analyze the performance of various hashing collision handling methods:
  </p>

  <ul>
    <li>Linear Probing collision handling</li>
    <li>Quadratic Probing collision handling</li>
    <li>Linear Quotient collision handling</li>
  </ul>

  <p>
    To use the app, please follow these steps:
  </p>

  <ol>
    <li>Choose a set of keys to be search in the hash table</li>
    <li>Choose a collision resolution method</li>
    <li>Choose a packing density</li>
    <li>Press the search button</li>
  </ol>

  <p>
    Note that:
  </p>

  <ul>
    <li>The hash table is already created when you launch this program</li>
    <li>The hash table uses random alphanumeric keys. The data can be found in the data folder</li>
    <li>All the text display of this program can be modified and access through the templates folder</li>
  </ul>

  <h1>
    Analysis
  </h1>
  <table>
    <tr>
      <th>
        Collision Method
      </th>
      <th>
        Packing Density
      </th>
      <th>
        Average Collisions
      </th>
      <th>
        Average Comparisons for Missing Keys
      </th>
      <th>
        Average Comparisons for Present Keys
      </th>
    </tr>

    <tr>
      <td rowspan="2">
        Linear Probing
      </td>
      <td class="percentage">
        50%
      </td>
      <td class="data">
        $lp50Collisions
      </td>
      <td class="data">
        $lp50ComparisonsMissing
      </td>
      <td class="data">
        $lp50ComparisonsPresent
      </td>

      <tr>
        <td class="percentage">
          90%
        </td>
        <td class="data">
          $lp90Collisions
        </td>
        <td class="data">
          $lp90ComparisonsMissing
        </td>
        <td class="data">
          $lp90ComparisonsPresent
        </td>
      </tr>

      <tr>
        <td rowspan="2">
          Quadratic Probing
        </td>
        <td class="percentage">
          50%
        </td>
        <td class="data">
          $qp50Collisions
        </td>
        <td class="data">
          $qp50ComparisonsMissing
        </td>
        <td class="data">
          $qp50ComparisonsPresent
        </td>

        <tr>
          <td class="percentage">
            90%
          </td>
          <td class="data">
            $qp90Collisions
          </td>
          <td class="data">
            $qp90ComparisonsMissing
          </td>
          <td class="data">
            $qp90ComparisonsPresent
          </td>
        </tr>

        <tr>
          <td rowspan="2">
            Linear Quotient
          </td>
          <td class="percentage">
            50%
          </td>
          <td class="data">
            $lq50Collisions
          </td>
          <td class="data">
            $lq50ComparisonsMissing
          </td>
          <td class="data">
            $lq50ComparisonsPresent
          </td>

          <tr>
            <td class="percentage">
              90%
            </td>
            <td class="data">
              $lq90Collisions
            </td>
            <td class="data">
              $lq90ComparisonsMissing
            </td>
            <td class="data">
              $lq90ComparisonsPresent
            </td>
          </tr>

        </tr>
  </table>

  <br>

  <table>
    <tr>
      <th>Collision Method</th>
      <th>Packing Density</th>
      <th>Time to insert 1,000,000 keys (ms)</th>
      <th>Time to search 100,000 missing keys (ms)</th>
      <th>Time to search 100,000 present keys (ms)</th>
    </tr>
    <tr>
      <td rowspan="2">Linear Probing</td>
      <td class="percentage">50%</td>
      <td class="data">$lp50TimeInsert</td>
      <td class="data">$lp50TimeSearchMissing</td>
      <td class="data">$lp50TimeSearchPresent</td>
    </tr>
    <tr>
      <td class="percentage">90%</td>
      <td class="data">$lp90TimeInsert</td>
      <td class="data">$lp90TimeSearchMissing</td>
      <td class="data">$lp90TimeSearchPresent</td>
    </tr>
    <tr>
      <td rowspan="2">Quadratic Probing</td>
      <td class="percentage">50%</td>
      <td class="data">$qp50TimeInsert</td>
      <td class="data">$qp50TimeSearchMissing</td>
      <td class="data">$qp50TimeSearchPresent</td>
    </tr>
    <tr>
      <td class="percentage">90%</td>
      <td class="data">$qp90TimeInsert</td>
      <td class="data">$qp90TimeSearchMissing</td>
      <td class="data">$qp90TimeSearchPresent</td>
    </tr>
    <tr>
      <td rowspan="2">Linear Quotient</td>
      <td class="percentage">50%</td>
      <<td class="data">$lq50TimeInsert</td>
        <td class="data">$lq50TimeSearchMissing</td>
        <td class="data">$lq50TimeSearchPresent</td>
    </tr>
    <tr>
      <td class="percentage">90%</td>
      <td class="data">$lq90TimeInsert</td>
      <td class="data">$lq90TimeSearchMissing</td>
      <td class="data">$lq90TimeSearchPresent</td>
    </tr>
  </table>

</body>

</html>
