<!DOCTYPE html>
<html>

<head>
  <style>
    h1 {
      text-align: center;
      color: white;
      background-color: purple;
    }

    p, ul, ol{
      color: purple;
    }
  </style>
</head>

<body>
  <h1>Welcome</h1>
  <p>
    This is an app that let you analyze the performance of various hashing collision handling methods:
  </p>

  <ul>
    <li>Linear Probing collision handling</li>
    <li>Quadratic Probing collision handling</li>
    <li>Linear Quotient collision handling</li>
  </ul>

  <p>
    To use the app, please follow these steps:
  </p>

  <ol>
    <li>Choose a set of keys to be search in the hash table</li>
    <li>Choose a collision resolution method</li>
    <li>Choose a packing density</li>
    <li>Press the search button</li>
  </ol>

  <p>
    Note that:
  </p>

  <ul>
    <li>The hash table is already created when you launch this program</li>
    <li>The hash table uses random alphanumeric keys. The data can be found in the data folder</li>
    <li>All the text display of this program can be modified and access through the templates folder</li>
  </ul>


</body>

</html>
